#sidebar {
    // position: absolute;
    // top: 0;
    // left: 0;
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    background: #ffffff;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

.sidebar-link {
    @extend .row;
    @extend .text-decoration-none;
    @extend .text-black;
    transition: 0.3s;
}
.sidebar-link:hover, .sidebar-link.active{
    @extend .bg-primary;
    @extend .text-white;
}

// #sidebar.active~#content {
//     left: 0 !important;
//     width: 100% !important;
// }

// #sidebar .sidebar-header {
//     padding: 37px;
//     background: #ffffff;
// }

#sidebar ul.components {
    padding: 0px 20px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #224F7A;
}

#sidebar ul li a:hover {
    color: #224F7A;

}

/* changesbypooja */
span.material-icons-outlined.mobile_hamburger-menu {
    display: none;
}
/* #sidebar.active_sidebar {
    margin-left: -250px;
} */
// #sidebar.active_sidebar~#content {
//     left: 0 !important;
//     width: 100% !important;
// }